<!DOCTYPE html>
<html lang="es"> //idioma
<head>
    <meta charset="UTF-8"> //es para que se entienda estetico
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meracado Libre </title>
</head>

<body>
    <header>
        <a href=""><img src="/image/mercadolibre.png" alt=""></a>
        <div>
            //lugar para poner la barra de busqueda
        </div>
        <p>comnpra en cuotas sin targeta de credito </p>

        <nav class="nav-bar">
            <ul>
                <li><a href="#ofertas">oferta</a></li>
                <li><a href="#tienda-oficiales">tienda oficial</a></li>
                <li><a href="#vender">vender</a></li>
                <li><a href="#ayuda">ayuda</a></li>

            </ul>
        </nav>
        <nav class="usuario">

            <ul>
                <li><a href="#creacuenta">Crea tu Cuenta</a></li>
                <li><a href="#ingreso">Ingresa</a></li>
                <li><a href="#misCuentas">Mis compras</a></li>

            </ul>
        </nav>
    </header>
<main>
    <img width="100%" src ="/image/home-banner.jpg" alt="">
    <section id="lastvisit">
        <h2>basado en tu ultima visita </h2>
        <p><image width ="30%" crs = "/image/cafetera.jpg"alt="cafetera philips" /></p>
        <P>cafetera philips</P>
        <p>10.000$ 15% OFF</p>
        <P><image width ="30%" crs ="/image/tv.jpg"alt=" Smart Tv"/></P>
        <p>"Smart TV"</p>
        <P>100.000$ 35% OFF</P>
        <p><image width = "30%" crs = "/image/bici.jpg"/></p>
        <p>120$</p>

        <div></div>
    </section>

</main>
<footer>


</footer>
</body>
</html>